@using BlazorApp1.Authentication

@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">


            <AuthorizeView>
                <Authorized>

                    <h6>@context.User.Identity.Name er logget ind</h6>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>

                </Authorized>
                <NotAuthorized>
                    <h6>Gæst - ingenting at se</h6>
                </NotAuthorized>
            </AuthorizeView>

          </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationStateAsync(null);
        navManager.NavigateTo("/", true);
    }
}
